:root {
  --clr-green: hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 20%);
  --clr-darkgrey: hsl(0, 0%, 12%);
  --clr-offblack: hsl(0, 0%, 8%);
}

html {
  font-size: 14px;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

.profile {
  height: 600px;
  width: 250px;
}
